<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>144399193478-cf8vs862drm93f2d159q9er9oukq80tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144399193478-cf8vs862drm93f2d159q9er9oukq80tf</string>
	<key>API_KEY</key>
	<string>AIzaSyBQYfJNkpADwgTzcv1nKWcW9IoQ2Ls0FX4</string>
	<key>GCM_SENDER_ID</key>
	<string>144399193478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gabriel.guimo.Shake-list</string>
	<key>PROJECT_ID</key>
	<string>shake-a-list</string>
	<key>STORAGE_BUCKET</key>
	<string>shake-a-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:144399193478:ios:7828daa40d1059bf</string>
	<key>DATABASE_URL</key>
	<string>https://shake-a-list.firebaseio.com</string>
</dict>
</plist>